body {
    margin: 0;
}
.text {
    text-align: center;
    font-size: 32px;
    padding: 32px;
    margin: 0;
}
.light {
    background-color: white;
    color: black;
}
.dark {
    background-color: black;
    color: white;
}